
body{
  padding: 0;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1{
  margin: auto;
  width: 200px;
  font-family: 'Sacramento', cursive;
}

h2,
h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  margin-bottom: 0;
  padding-bottom: 16px;
}

.top-container{
  padding:50px;
  position: relative;
  background: #76BA99;
}

.middle-container{
  padding-top: 100px;
  position: relative;
}

.bottom-container{
}

.bottom-cloud,
.top-cloud{
  width: 170px;
}

.mountain{
  width:700px;
}


.bottom-cloud{
  position: absolute;
  top:150px;
}

.top-cloud{
  position: absolute;
  top:20px;
  right: 500px;
}

.profile-pic{
  width:150px;
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #76BA99;
}

.skill-icon-web{
  width: 100px;
  position: absolute;
}

.skill-icon{
  width: 100px;
}

hr{
  width: 500px;
}
